In [ ]:
'''
문자열 데이터 처리 응용
원하는 위치에 %s, %d, %f 등을 사용해서 문자열 데이터 처리합니다.
뒤에 사용할 변수 부분에 %로 처리합니다.
%s = 문자열 변수 넣을 때
%d = 정수형 변수 넣을 때
%f = 정수형 변수 넣을 때
'''

In [7]:
a = "삼성전자"
b = '의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
c = 'LG전자'
d = "현재 결과는 미래를 보장해 주지는 않으니 참고하세요"

# 문자열 데이터 안에 원하는 변수를 넣고 아래처럼 처리
p = '%s %s %s' %(a, b, d)
print(p)

삼성전자 의 이번 2023년 3분기 당기 순이익은 2조원 입니다. 현재 결과는 미래를 보장해 주지는 않으니 참고하세요

In [13]:
a = "삼성전자"
b = '의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
c = 'LG전자'
d = "현재 결과는 미래를 보장해 주지는 않으니 참고하세요"
e = 3
h = 0.2

p2 = '%s의 이번 2023년 3분기 당기 순이익은 %d조원 입니다. %s' %(a, e, d)
p2 = '{} 의 이번 2023년 3분기 당기 순이익은 {}조원 입니다. {}'.format(a, e, d)
print(p2)

삼성전자 의 이번 2023년 3분기 당기 순이익은 3조원 입니다. 현재 결과는 미래를 보장해 주지는 않으니 참고하세요

In [19]:
# 파이썬 기본함수
# 특정 단어가 어디에 있는지 찾는 기능

"""
파이썬 문자열 관련 함수
find, index 함수는 같은 기능을 하는데 에러메세지 유형이 다르다.
find는 찾는 문자열이 없으면 -1,
index는 찾는 문자열이 없으면 에러를 일으킨다.
"""
a = "삼성전자"
d = "현재 결과는 미래를 보장해 주지는 않으니 참고하세요..."
j = "wElcome"

#문자개수 세기
d.count("현")
d.count(".")

#문자열 삽입 (예시에 주의)
ttt = " "
d.join(j)

#대문자
j.upper()

#소문자
j.lower()

#문자열 변환 replace
b = '삼성전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
c = 'LG전자'
b.replace("삼성전자", "LG디스플레이")
b.replace("삼성전자", c)

'LG전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'

In [20]:
# 문자열 나누기
b = '삼성전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
b.split()

['삼성전자의', '이번', '2023년', '3분기', '당기', '순이익은', '2조원', '입니다.']

In [ ]:
'''
순서형 자료구조: 데이터에 순서가 있어서 인덱스 가능

리스트 : 가변 자료구조. 대괄호 사용 [1,2,3]
중복리스트 가능 [1,2,[1,2,3]] 이미지 데이터 처리 시 많이 사용 (딥러닝)

딕셔너리 : 가변 자료구조. 중괄호 사용. key와 value로 구성
key는 데이터 제목 & value는 데이터 값 자체
{"캐릭터": [마리오, 루이지], "아이템" : "버섯"}

튜플 : 수정불가. 소괄호 사용 (1,2,3)
수정 될 수 없는 중요한 변수나 데이터에 사용

비순서형 자료구조: 데이터에 순서가 없고 중복을 허용하지 않는다
집합: 가변 자료구조, 중복데이터 제거에 자주 쓰인다.
'''

In [28]:
"""
상황극 예제
나님 회계사는 증권업계에 와서 감사 중이다.
미래에셋증권, 한국투자, 신한금투, kb증권 4군데를 돌아야 하고
2023년 4분기, 2024년 1분기 두 분기를 해야한다.
각 회사의 분기 영업이익은 아래와 같다.
1조, 2조   5000억, 3000억   2000억, 8000억   400억, 1000억
아래의 감사결과를 바탕으로 각 회사의 감사결과를 변수처리하여 출력하시오.
미래에셋증권의 2023년 4분기 영업이익은 1조입니다.
"""

a = "미래에셋증권"

ad1 = "1조"
ad2 = "2조"

b = "한국투자"

bd1 = "5000억"
bd2 = "3000억"

c = "신한금투"

cd1 = "2000억"
cd2 = "8000억"

d = "kb증권"
dd1 = "400억"
dd2 = "1000억"


tt1 = "2023년 4분기"
tt2 = "2024년 1분기"

print("%s의 %s 영업이익은 %s입니다." %(a, tt1, ad1))
print("%s의 %s 영업이익은 %s입니다." %(a, tt2, ad2))
print("------------------------------------------")
print("%s의 %s 영업이익은 %s입니다." %(b, tt1, bd1))
print("%s의 %s 영업이익은 %s입니다." %(b, tt2, bd2))
print("------------------------------------------")
print("%s의 %s 영업이익은 %s입니다." %(c, tt1, cd1))
print("%s의 %s 영업이익은 %s입니다." %(c, tt2, cd2))
print("------------------------------------------")
print("%s의 %s 영업이익은 %s입니다." %(d, tt1, dd1))
print("%s의 %s 영업이익은 %s입니다." %(d, tt2, dd2))
print("------------------------------------------")
print("{}의 {} 영업이익은 {}입니다.".format(a, tt1, ad1))
print("{}의 {} 영업이익은 {}입니다.".format(a, tt2, ad2))
print("------------------------------------------")
print("{}의 {} 영업이익은 {}입니다.".format(b, tt1, bd1))
print("{}의 {} 영업이익은 {}입니다.".format(b, tt2, bd2))
print("------------------------------------------")
print("{}의 {} 영업이익은 {}입니다.".format(c, tt1, cd1))
print("{}의 {} 영업이익은 {}입니다.".format(c, tt2, cd2))
print("------------------------------------------")
print("{}의 {} 영업이익은 {}입니다.".format(d, tt1, dd1))
print("{}의 {} 영업이익은 {}입니다.".format(d, tt2, dd2))

미래에셋증권의 2023년 4분기 영업이익은 1조입니다.
미래에셋증권의 2024년 1분기 영업이익은 2조입니다.
------------------------------------------
한국투자의 2023년 4분기 영업이익은 5000억입니다.
한국투자의 2024년 1분기 영업이익은 3000억입니다.
------------------------------------------
신한금투의 2023년 4분기 영업이익은 2000억입니다.
신한금투의 2024년 1분기 영업이익은 8000억입니다.
------------------------------------------
kb증권의 2023년 4분기 영업이익은 400억입니다.
kb증권의 2024년 1분기 영업이익은 1000억입니다.
------------------------------------------
미래에셋증권의 2023년 4분기 영업이익은 1조입니다.
미래에셋증권의 2024년 1분기 영업이익은 2조입니다.
------------------------------------------
한국투자의 2023년 4분기 영업이익은 5000억입니다.
한국투자의 2024년 1분기 영업이익은 3000억입니다.
------------------------------------------
신한금투의 2023년 4분기 영업이익은 2000억입니다.
신한금투의 2024년 1분기 영업이익은 8000억입니다.
------------------------------------------
kb증권의 2023년 4분기 영업이익은 400억입니다.
kb증권의 2024년 1분기 영업이익은 1000억입니다.

In [34]:
# 리스트 구조 예시
u = [1,2, [7,8,9]]
#인덱싱 슬라이싱
u[0]
u[2]# [7,8,9] 배열 전체가 하나의 원소로 간주된다.

# 7 혹은 8만 따오고 싶다면?
# 중복리스트 인덱싱 방법
u[2][0] #7
u[2][1] #8

8

In [49]:
u = [1,2,[7,8,9,["zelle"]]]

u[2][3] # 리스트형 자료구조가 "zelle"
u[2][3][0] # 문자열 데이터 "zelle"

# 문자열로 출력하지 않고 싶을 경우
# aa = u[2][3][0]
# print(aa)

'zelle'

In [70]:
u = [1,2,[7,8,9,["zelle", 777]]]

u[-1][-1][-1]
# -1이 맨 마지막 원소의 인덱싱이란 성질을 이용한 문제풀이
# 훗날 코테 풀 때 사용가능

777

In [72]:
"""
행렬의 연산
행렬전체에 1씩 더하는 방법은?
"""

r = [1,2,3]
# 행렬의 각 원소에 대한 계산을 하려면 행렬의 모든 원소에 직접 접근해야 한다.
# 일반적인 연산자로 계산을 못하는 경우가 생김
r[0] = 1+1
r[1] = 2+1
r[2] = 3+1
print(r)

#이러한 행렬계산을 위해서는 numpy라는 파이썬 라이브러리가 필요하다.

[2, 2, 3]

In [79]:
#numpy 라는 라이브러리를 impport로 불러서 이름을 np라고 정의한다.
# import numpy
import numpy as np
r = [1,2,3]
# 라이브러리의 행렬연산기능을 활성화하여 k라는 변수에 저장
# k = numpy.array(r)
k = np.array(r)
k+1

array([2, 3, 4])

In [87]:
# 행렬의 성질2

r = [1,2,3]
p = [4,5,6]
# 두 리스트의 확장
r + p

['', 2, 3]

In [88]:
# 리스트에서 데이터 삭제
# r[0] = []
r[0] = ""
r

['', 2, 3]

In [89]:
# 주의 : 삭제 함수는 두 번 클릭하지 마세요
del r[0]
r

[2, 3]

In [104]:
# r = [1,,2,3]
# 위에꺼 [1,2,3,4]로 만들어주세요
r = [1,2,3]
ppp = [4,5]

# 둘 다 리스트형 자료구조에 데이터를 추가하는 명령어인데
# extend를 쓰면 원소별로 쪼개져서 들어오고
# append를 쓰면 리스트형 자료구조가 보존되어 단일 데이터로 들어온다.
# r.extend(ppp)
r.append(ppp)
print(r)

[1, 2, 3, [4, 5]]

In [108]:
# 리스트 정렬 - sort

aaa = [1, 6, 2, 5, 78, 3, 23, 7, 9568] # 동일한 자료형이여야 한다 // 문자열 포함이 되어선 안됨
# 소수점은 문제없음
aaa.sort()
aaa

[1, 2, 3, 5, 6, 7, 23, 78, 9568]

In [115]:
# reverse는 전체 배열의 순서를 뒤집는다.
# 뒤집는다는 의미가 역숙으로 정렬한다는건 아니다.
my_list = [1,2,3]
my_list.reverse()
my_list

[3, 2, 1]

In [116]:
# 그 값이 어디있는지 찾는다
my_list = [1, 2, 3, 9, 4]
my_list.index(2)

1

In [117]:
my_list = [1, 2, 3, 9, 4]
my_list.insert(1, 777)
my_list

[1, 777, 2, 3, 9, 4]

In [118]:
# 왜 리스트는 스택형 자료구조인지 알 수 있는가?
my_list = [1, 2, 3, 4, 2]
kkk = my_list.pop() # 리스트의 마지막 요소 제거
kkk # 성공하면 날아간 데이터를 출력해 준다

2

In [119]:
# 데이터를 지울 때 remove 도 있다.
my_list = [1, 2, 3, 4, 2]
my_list.remove(2) # 없애고 싶은 첫번째 데이터
my_list

[1, 3, 4, 2]

In [121]:
# 튜플형 자료구조는 데이터 삭제 불가
zz = (1,2,3)
del zz[1]

TypeError: 'tuple' object doesn't support item deletion