#### 튜플은 다음과 같이 여러가지 모습으로 생성할 수 있다.

In [4]:
t1 = () # 빈 튜플생성
t2 = (1,) # 원소가 하나 뿐일땐 무조건 콤마 하나 붙여야 함
t3 = (1, 2, 3)
t4 = 1, 2, 3 # 소괄호가 없어도 알아서 튜플로 정의됨
t5 = ('a', 'b', ('ab', 'cd')) # 이중구조 가능

In [5]:
# 인덱싱 슬라이싱 가능 --> 순서가 있는 자료구조이므로
t5[2][1]

'cd'

In [6]:
# 튜플 합칠 때 새로운 자료구조에 할 것
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
result

(1, 2, 3, 4, 5, 6)

In [18]:
'''
튜플의 길이 구하기 (리스트도 가능)
len() 함수를 사용함
quiz : len 함수를 써서 my_tuple의 평균을 구해 보세요
'''

my_tuple = (100, 90, 87, 69, 87)
tuple1 = (1, 2, 3)
len(tuple1)
len(my_tuple)

# mt1 = my_tuple[0]
# mt2 = my_tuple[1]
# mt3 = my_tuple[2]
# mt4 = my_tuple[3]
# mt5 = my_tuple[4]

# mt_result = mt1 + mt2 + mt3 + mt4 + mt5 
# result = mt_result / len(my_tuple)

# result

sum(my_tuple) / len(my_tuple)

86.6

In [19]:
# +, * 는 문자열 데이터와 같다
t2 = (3,4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

자료구조의 특성에 따라 사용할 수 있는 내장함수가 달라진다.

튜플은 요솟값을 변경 할 수 없기 때문에 sort, insert, remove, pop과 같은 내장 함수가 없다.

딕셔너리에 대해 알아보겠습니다.

"이름" = "홍길동", " 생일" = "몇 월 며칠"
이런 식으로 데이터의 타이틀과 데이터에 대한 대응관계를 나타낼 수 있다.
 '연관 배열(associative array)' 또는 '해시(hash)' 라고도 한다.

In [35]:
# 인덱싱으로 데이터를 불러오지 않는다. 키 값으로만 데이터를 불러와야햔다.
# 딕셔너리는 중괄호를 사용하고 key & value 값을 정의해주면 된다.

my_dict = {'apple': 2, 'banana' : 3, 'cherry': 5}
my_dict['cherry']

5

#### 딕셔너리는 리스트나 튜플처럼 순차적으로(sequential) 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다. cherry에 있는 데이터는 cherry라는 단어가 있는 곳만 펼쳐본다.

In [36]:
# 한 Key 안에 복수의 값이 허용됨 (그래서 value로 key 인덱스 안됨)
my_dict = {'apple': [2, 66, 45, 57], 'banana': 3, 'cherry': 5}
# 딕셔너리에서 데이터 추가
my_dict['pine_tree'] = 777
my_dict

{'apple': [2, 66, 45, 57], 'banana': 3, 'cherry': 5, 'pine_tree': 777}

In [37]:
a = {1: 'a', 2: 'b', 'name': 'keys'}
# 딕셔너리에서 데이터 배열 추가
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'keys', 3: [1, 2, 3]}

#### 리스트나 튜플, 문자열은 요솟값을 얻고자 할 때 인덱싱이나 슬라이싱 기법 중 하나를 사용했다.

In [38]:
a = "삼성전자"
a[2]+a[3]
a[2:4]

'전자'

#### 딕셔너리는 안됨, 아래는 예시입니다

In [40]:
a = {1: 'a', 2: 'b'}
a[1] # 두번째 원소접근과 아무 상관없음. 1이란 key값의 value인 'a'를 가져옴

'a'

key 값은 반드시 고유값이어야 함. 중복값을 지정하면 나머지값 무시됨

In [41]:
a =  {1: 'a', 1: 'b'}
a[1] # 1: 'a' 쌍은 무시되었음

'b'

In [42]:
# 딕셔너리에서 key값은 변하지 않는 요소로 정의 해야함
# 리스트 자료는 변할 수 있는 가변 자료구조이다.
# 그래서 딕셔너리의 key로 부적합
a = {["3"] : 777}
a["3"]

TypeError: unhashable type: 'list'

#### 딕셔너리 특성에 따라 내장 함수도 달라진다

In [44]:
# 자료구조의 key 값만 가져온다
my_dict = {'apple': 2, 'banana' : 3, 'cherry': 5}
key_list = my_dict.keys()
key_list

dict_keys(['apple', 'banana', 'cherry'])

In [45]:
# 자료구조의 value 값만 가져온다
my_dict = {'apple': 2, 'banana' : 3, 'cherry': 5}
key_list = my_dict.values()
key_list

dict_values([2, 3, 5])

In [46]:
# 자료구조의 key & value를 모두 가져온다.
my_dict = {'apple': 2, 'banana' : 3, 'cherry': 5}
key_list = my_dict.items()
key_list

dict_items([('apple', 2), ('banana', 3), ('cherry', 5)])

In [47]:
# key에 있는 value값을 가져오기
my_dict = {'apple': 2, 'banana' : 3, 'cherry': 5}
values = my_dict.get('apple')
values

2

In [49]:
my_dict = {'apple': 2, 'banana' : 3, 'cherry': 5}
values = my_dict.clear()
values

In [50]:
# 데이터 존재 여부, 참 거짓을 말하는 부울형 변수로 결과가 나온다
my_dict = {'apple': 2, 'banana' : 3, 'cherry': 5}
apple_in = 'mario' in my_dict
apple_in

False

In [51]:
a = {'name' : 'pey', 'phone' : '010-999-1234', 'birth' : '1118'}
'email' in a # 'email' 이란 keys 값은 존재하지 않으므로 false이다

False

In [52]:
# 집합 자료형 - 비순서형 자료구조 : 데이터 중복허용 x, 인덱스 x

In [54]:
# 중괄호를 쓰거나 다른 자료구조를 set이란 함수로 감싼다
s1 = {1,2,3}
s1 = set([1,2,3])
type(s1)

set

In [56]:
# list & tuple도 저런식으로 변환됨
s2 = list((1,2,3))
type(s2) # 자료구조의 형태를 확인 할 때 type이라는 함수를 씁니다.
s2 = tuple([1,2,3])
type(s2)

tuple

In [55]:
# 중복과 순서가 없는 집합형 자료형 예시 1
s2 = set("hello")
s2

{'e', 'h', 'l', 'o'}

인덱싱 하려면 리스트나 튜플로 바꾸고 나서 하세요

In [58]:
# 중복된 원소를 제외하고 데이터를 줄이세요
s1 = [1,2,3,4,1,2,3,66]
s2 = set(s1)
s2
s3 = list(s2)
s3

[1, 2, 3, 4, 66]

행렬형 자료구조 다룰 때 [1,2,3,4]
행렬전체에 수를 더할 때도 있지만

두 자료구조의 공통 원소만 가져오거나, 중복빼고 합치거나, 중복데이터 삭제
이 때 쓰이는게 교집합, 합집합, 차집합

In [60]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
# 교집합을 구하고 싶을 때 '&' 를 이용하면 교집합을 간단히 구할 수 있다.
s1 & s2

{4, 5, 6}

In [61]:
# 또는 다음과 같이 intersection 함수를 사용해도 결과는 동일하다.
s1.intersection(s2)

{4, 5, 6}

In [62]:
# 합집합은 | 를 쓰면 된다.
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [63]:
# union을 써도 됩니다.
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
# 차집합은 - 로 계산
s1 - s2
s2 - s1
# 두 예제의 결과는 다릅니다.
s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

### 집합형 자료구조의 내장함수 소개

In [69]:
# 데이터 더하기
s1 = set([1,2,3,4,5,6])
s1.add(9)
s1

{1, 2, 3, 4, 5, 6, 9}

In [71]:
# 값 여러개 추가하기 - update
s1 = set([1,2,3,4,5,6])
s1.update([11,12])
s1

{1, 2, 3, 4, 5, 6, 11, 12}

In [72]:
# 집합관련 함수는 sort 기능이 있나요?

my_set = {1, 2, 3}
my_set.sort()

AttributeError: 'set' object has no attribute 'sort'

In [74]:
# 중복된 원소는 안들어가요
my_set = {1, 2, 3}
my_set.update([3,4,5])
my_set

{1, 2, 3, 4, 5}

In [76]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3) # 4번째 원소 말고 3이란 값이 날아갑니다.
my_set

{1, 2, 4, 5}

In [77]:
# boolean (불자료형) 참, 거짓으로만 이루어진 자료구조
# 첫 글자를 대문자로 표기함 True False
# 예약어니까 저 이름으로는 변수선언 안됨

In [78]:
# 변수 이름 고려사항
# 첫 글자 숫자 안됨
# 특수문자 안됨
# 예약어 금지 (내장함수 등의 기능을 담당하는 단어) - for, while, True, False

True = 555

SyntaxError: cannot assign to True (1090476282.py, line 6)

In [81]:
x = 1 == 2 # 조건문에 쓰임
x

False

참 거짓은 조건문에 쓰입니다.

In [88]:
# 자료형엔 참, 거짓이 있습니다.
# 숫자에서 0이 나오면 부울 자료형 기준으로 거짓이 됩니다. 숫자에선 0빼고 참
# 문자열 데이터는요? 데이터가 비어있으면 거짓, 뭐라도 있으면 참입니다
# "" 이렇게 하면 빈 문자열로 비어있는 데이터라서 거짓,
# " "이러면 띄어쓴 데이터가 존재한다고 컴퓨터가 인식합니다.
# 빈 리스트, 튜플은 거짓인데요, 빈 자료구조안에 [()] 이런식으로 자료구조가
# 위치 한다면 컴퓨터는 데이터가 있다고 인식하므로 참으로 받아들여요
pocket = 7000
taxi = 10000
kk = pocket > taxi
if -1: 
    print("택시를 타자")
else:
    print("걸어가자")
    
type(kk)

택시를 타자

bool

In [93]:
# 부울 자료형의 예시입니다. 참 거짓의 사례를 확인해 보세요~
bool([1,2,3]) # True
bool([]) # False
bool(0) # False
bool(3) #True

True

In [102]:
# 미검증 데이터 셋 확인 후 삭제 예시
# a 라는 검증되지 않은 데이터를 가진 데이터셋을 하나씩 읽어서
# 검증 후 데이터를 하나씩 삭제한다.
# 모든 데이터가 검증이 되어 전부 없어지면 반복문을 멈춘다.
# 빈 데이터가 될 때까지만  반복 로직을 유지한다.
a = [1, 2, 3, 4]
while a:
    print(str(a.pop()) + "번 데이터가 검증 후 삭제되었습니다.", a)
    
print("모든 데이터가 검증이 끝났습니다.")

4번 데이터가 검증 후 삭제되었습니다. [1, 2, 3]
3번 데이터가 검증 후 삭제되었습니다. [1, 2]
2번 데이터가 검증 후 삭제되었습니다. [1]
1번 데이터가 검증 후 삭제되었습니다. []
모든 데이터가 검증이 끝났습니다.

In [103]:
# 동일한 메모리 주소 = 동일한 객체
a = [1, 2, 3]
b = a
print(id(a), id(b))

1912724687232 1912724687232

### 메모리 주소 (deep copy, shallow copy)

In [105]:
a[1] = 4
a

[1, 4, 3]

In [106]:
b

[1, 4, 3]

#### 같은 메모리 주소를 공유하면 deep copy
#### 다른 메모리 주소를 고유해서 두 객체가 독립적이면 shallow copy가 됩니다.

#### b 변수를 만들 때 a 주소의 값만 가져오고 다른 주소를 가리키는 법은?

1. [:] 이용하기

첫 번째 방법은 다음과 같이 리스트 전체를 가리키는 [:]을 사용해서 복사하는 것이다.

In [108]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
print(a, b)

[1, 4, 3] [1, 2, 3]

2. copy 모듈 이용하기

두 번째 방법은 copy 모듈을 사용하는 것이다. 다음 예를 보면 from copy import copy 라는 처음 보는 형태의 문장이 나오는데, 이것은 뒤에 설명할 파이썬 모듈 부분에서 자세히 다룬다. 여기에서는 단순히 copy 함수를 쓰기 위해서 사용하는 것이라고만 알아 두자.

In [109]:
# copy라는 패키지에서 copy라는 기능을 불러온다
from copy import copy
a = [1,2,3]
b = copy(a)
print(id(a))
print(id(b))

1912725147200
1912724823232

In [111]:
# 동일 객체인지 비교하는 법
# 메모리 주소가 같으면 동일객체인지 알 수 있지만 더 간단히 확인
a is b

False

In [112]:
# if문 
# 파이선은 들여쓰기에 매우 민감하다. 들여쓰기 4번 혹은 탭키한번 입력해야함
# if의 각 단락이 끝나면 반드시 : 입력

money = -1

if money: 
    print("택시를 타자")
    
else: 
    print("걸어가자")

택시를 타자

In [113]:
# 비교연산자 예시
# if의 조건을 정하는 비교 연산자
x = 3
y = 2
x > y # True
x < y # False
x == y # False
x != y # True
x <= 3 # 작거나 같다 혹은 크거나 같다는 부등호가 왼쪽에 온다.
x >= 3

True

In [114]:
'''
if 조건(참 혹은 거짓):
    참 이었을 때 명령어들
else:
    거짓 이었을 때 명령어들
'''

SyntaxError: invalid syntax. Perhaps you forgot a comma? (5513540.py, line 1)

In [115]:
money = 2000
if money >= 3000:
    print("택시를 타자")
else: 
    print("걸어가자")

걸어가자

#### 조건을 판단하기 위해 사용하는 다른 연산자로는 and, or, not 이 있다. 각각의 연산자는 다음처럼 동작한다.

예제) 돈이 3000 이상 있거나 신용카드가 있으면 택시를 타고 아니면 걷자

In [120]:
money = 2000
card = True

if money >= 3000 and card:
    print("택시를 타자")
else: 
    print("걸어가자")

택시를 타자

In [126]:
money = 2000
card = True

if money >= 3000 or card:
    print("택시를 타자")
else: 
    print("걸어가자")

택시를 타자

In [122]:
money = 2000
card = True

if not card:
    print("택시를 타자")
else: 
    print("걸어가자")

걸어가자

In [121]:
money = 2000
card = True

if not money >= 3000:
    print("택시를 타자")
else: 
    print("걸어가자")

택시를 타자

파이썬은 조건문에서 데이터셋 내부 데이터를 비교 할 수 있다.

In [129]:
s = ["card", "shoes", "phone"]
if "phone" in s:
    print("전화기 있음")
else: 
    print("전화기 잃어버렸니?")

전화기 있음

In [133]:
# 리스트, 튜플, 문자열 데이터에 전부 적용 가능
1 in [1,2,3] # True
1 not in [1,2,3] # False
'a' in ('a','b','c') # True
'j' not in 'python' # True

True

In [134]:
# 만약 pocket 에 'money' 가 있으면 택시를 타라고 출력, 없으면 걸아가라 출력

pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket: 
    print("택시를 타자")
else:
    print("걸어가자")

택시를 타자

In [137]:
# and or not 안쓰는 예시
# money가 pocket 데이터셋 에 있던지 card가 있다면 택시타고 아니면 걸어가자
pocket = ['paper', 'cellphone']
card = 1

if 'money' in pocket: 
    print("택시를 타자")
else: # 여기서 카드가 있는지 다시한번 확인
    if card: 
        print("택시를 타자")
    else:
        print('걸어가자')

택시를 타자

In [138]:
pocket = ['paper', 'cellphone']
card = 1

if 'money' in pocket: 
    print("택시를 타자")
elif card:
    print("택시를 타자")
else:
    print("걸어가자")

택시를 타자

In [139]:
# 예제 변형, elif 는 몇번이고 세부적인 조건을 나눌 수 있다.
card = 10000
if card >= 20000:
    print('택시를 타고 가라')
elif card >= 15000:
    print('킥보드를 타고 가라')
elif card >= 11000:
    print('따릉이를 타고 가라')
else:
    print('걸어 가라')

걸어 가라

In [147]:
# number = 23 우리가 원하는 정답
# input 함수로 사용자의 입력을 받는데,
# input 함수는 언제나 문자열 자료구조로 받기 때문에 정수처리 해야한다.
number = 23
guess = int(input('정수를 입력해 주시기 바랍니다. : '))

if number == guess :
    print ('축하합니다. 정확히 맞추셨어요.')
elif guess < number :
    print ('아니오. 그거보단 커야해요')
elif guess > number :
    print ('아니오. 그거보단 작아야해요')    
print("끝입니다")

# 띄어쓰기를 잘못하면 의도치 않은 결과인데 에러메세지가 없응ㄹ 수 있다.

정수를 입력해 주시기 바랍니다. : 23
축하합니다. 정확히 맞추셨어요.
끝입니다

파이썬의 조건부 표현식(conditional expression)을 사용하면 위 코드를 다음과 같이 간단히 표현 할 수 있다.

In [148]:
score = 65
# 참일 때 명령어 if 조건 else 거짓일 때 명령어
message = "success" if score >= 60 else "failure"

In [150]:
pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket : print('택시를 타고 가라')
else : print('걸어가라')

택시를 타고 가라