In [4]:
# pandas 라이브러리를 불러 옵니다.
import pandas as pd

movie = {'gwang' : [9.24, 1200], ' gong' : [7.86, 500], 'face' : [8.01, 900]}
# pandas에 DataFrame이라는 기능을  써서 딕셔너리 자료구조를 엑셀화합니다.
df = pd.DataFrame(movie)
df
# to_csv라는 명령어로 excel.csv 라는 파일을 만듭니다.
df.to_csv("excel.csv", encoding = 'utf-8')

In [25]:
# 우리가 내장함수를 잘 알아야 하는 이유
dataset = [3, 5, 1, 2, 4]
dataset.sort()
# dataset.sort(reverse = True)
dataset

[5, 4, 3, 2, 1]

In [29]:
# 인생 하드모드 feat. 정렬 알고리즘
dataset = [3, 5, 1, 2, 4]
n = len(dataset)
for i in range(0, (n-1)) : # 1 n-1 번째 친구들 가지고 비교
    for j in range((i + 1), n) :
        # 왼쪽이 오른쪽 보다 크다면 순서를 둘이 바꿔
        print(i, j, dataset)
        if dataset[i] < dataset[j]:
#         if dataset[i] > dataset[j]:
            # 두 데이터의 자리바꿈을 위해 tmp라는 임시변수를 만듬
            tmp = dataset[i] # 왼쪽수를 임시 변수에 저장한다.
            dataset[i] = dataset[j] # 오른쪽 수가 왼쪽수로 넘어간다.
            dataset[j] = tmp
print(dataset)

0 1 [3, 5, 1, 2, 4]
0 2 [5, 3, 1, 2, 4]
0 3 [5, 3, 1, 2, 4]
0 4 [5, 3, 1, 2, 4]
1 2 [5, 3, 1, 2, 4]
1 3 [5, 3, 1, 2, 4]
1 4 [5, 3, 1, 2, 4]
2 3 [5, 4, 1, 2, 3]
2 4 [5, 4, 2, 1, 3]
3 4 [5, 4, 3, 1, 2]
[5, 4, 3, 2, 1]

In [40]:
# 1-45 중의 정수를 무작위로 6개뽑아서 리스트 자료에 넣어서 보여주세요
# 로또 프로그램

import random

random.randint(1,46) # 1~45 정수 중 하나를 무작위로 추출
r = [] #  결과를 저장할 리스트 자료구조 준비

for i in range(6): # 6개의 숫자를 뽑는다.
    r.append(random.randint(1, 46))

print(r)

[46, 36, 12, 19, 7, 1]

자동 번호 세트 10세트 뽑기 + 중복된 숫자를 주지 않도록 코드 개선

In [74]:
import random

final_result = {}  # 최종 결과를 저장하는 딕셔너리 자료구조 선언
for i in range(10): # 복권 10장에 해당하는 바깥 for문
    r = [] # 개별 복권 결과를 저장하는 자료구조
    while len(r) < 6: #완전한 6번호 1세트 나올때까지 반복
        number = random.randint(1,46)
        if number not in r: # 중복된 숫자가 아닌 경우만 번호 추가
            r.append(number) # 중복 아닐때만 실행
        r.sort() # 딕셔너리에 집어넣기 직전에 정렬
        final_result[i+1] = r # 딕셔너리 자료에 완성된 복권세트 추가
            
print(final_result)

{1: [1, 9, 10, 11, 21, 26], 2: [3, 17, 19, 40, 41, 43], 3: [1, 6, 11, 13, 18, 41], 4: [8, 12, 22, 30, 36, 44], 5: [5, 22, 36, 39, 42, 44], 6: [2, 15, 37, 39, 43, 46], 7: [5, 8, 16, 26, 28, 44], 8: [6, 13, 17, 18, 23, 28], 9: [4, 11, 16, 25, 30, 35], 10: [1, 14, 18, 19, 25, 37]}

In [79]:
# 인생 하드모드 feat. 정렬 알고리즘
# 정렬알고리즘에서 오름차순 알고리즘을 사용하여
# 아래 5개 데이터셋의 정렬작업을 순차적으로 진행하여 주시기 바랍니다.
# 맨 위에 for문 하나만 더 쓰면 됩니다.

dataset_1 = [3, 5, 1, 2, 4]
dataset_2 = [3, 11, 77, 32, 99]
dataset_3 = [3, 75645, 32, 2, 666]
dataset_4 = [3, 32, 1, 666, 4]
dataset_5 = [323, 5, 7, 2, 666]
# 2중 리스트 자료구조입니다. (데이터셋 안에 데이터셋)
datasets = [dataset_1, dataset_2, dataset_3, dataset_4, dataset_5 ]
# 외부 데이터 셋 안에 개별 데이터셋에 접근합니다. (빠깥 for문)

for dataset in datasets:    
    n = len(dataset)
    for i in range(0, (n-1)) : # 1 n-1 번째 친구들 가지고 비교
        for j in range((i + 1), n) :
            if dataset[i] > dataset[j]:
                temp = dataset[i]
                dataset[i] = dataset[j]
                dataset[j] = temp
                
print(datasets)

[[1, 2, 3, 4, 5], [3, 11, 32, 77, 99], [2, 3, 32, 666, 75645], [1, 3, 4, 32, 666], [2, 5, 7, 323, 666]]

In [99]:
# 1부터 100까지 정수중에서 짝수만 뽑아서 출력해 주세요.

result = list(range(1, 101))
result_even = []
result_odd = []

for i in result:
    if i % 2 == 0:
        result_even.append(i)
    else:
        result_odd.append(i)
print(result_even)
print(result_odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [23]:
lst = [1,2,3,4,5]
# 리스트형 자료구조의 일부를 슬라이싱 하여 하나씩 쌓아나간다.
result = []
for i in lst:
#     print(lst[:i])
    print(lst[i-1:]) # ~~까지

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3, 4, 5]
[4, 5]
[5]

In [39]:
# 직급별로 단어 숫자 세서 딕셔너리에 저장해 주세요.
# for문과 if문의 적절한 조화로 문제 푸시면 됩니다.
그룹연락처 = ['과장', '부장', '대리', '사장', '대리', '과장']
삼성전기 = {} # 결과 저장 할 딕셔너리 지정
# 삼성전기 안에 직급별로 몇명 있는지 key & value로 구분
for ch in 그룹연락처 : # 그룹연락처 안의 임직원분들 한분씩 끄집어내기
    print(ch, 삼성전기)
    if ch in 삼성전기: # 1명이 아닐 경우
        삼성전기[ch] += 1 # 직급 eky 데이터에 사람 수 value 1 더하기
    else:
        삼성전기[ch] = 1 # 결과 데이터셋에 데이터 없으면 직급신설 + 사람수1 더하기
print(삼성전기)

과장 {}
부장 {'과장': 1}
대리 {'과장': 1, '부장': 1}
사장 {'과장': 1, '부장': 1, '대리': 1}
대리 {'과장': 1, '부장': 1, '대리': 1, '사장': 1}
과장 {'과장': 1, '부장': 1, '대리': 2, '사장': 1}
{'과장': 2, '부장': 1, '대리': 2, '사장': 1}

### 함수

In [40]:
# 함수 설명을 위한 상황설정
# ----------------------------------------------------
# 가게 손익계산식 = (매출 - 비용) * (1 - 세율) - 주주배당금
revenue = 10000
cost = 1000
tax = 0.22
dividend = 400

6620.0

In [63]:
import profit2 as calc

calc.profit_calc(10000, 1000, 0.22, 400)

6620.0

In [61]:
import profit2 as calc
# 피자나라 치킨공주: 전체 매출액 대비 치킨, 피자, 소스의 비율을 갈고 싶을 때
# 여러가지 결과값을 동시에 출력하고 싶다면?

# y = chicken / revenue
# z = pizza / revenue
# r = sause / revenue
# error_chk = (chicken + pizza + sause) / revenue

calc.revenue_breakdown(10000, 5000, 4000, 1000)

(0.5, 0.4, 0.1, 1.0)

In [65]:
# 두 인풋을 더하는 함수
# 코딩 다 했으면 run 해서 내 함수를 메모리에 태워야 한다.
def add2(a, b): # a, b 라는 인풋을 받아서 무언가를 하겠다.
    return a+b

In [66]:
add2(100, 300)

400

In [68]:
# 함수 모듈과 인풋 데이터를 별도의 데이터셋에 저장해서 변수로 실행가능
a = 3
b = 4
c = add2(a, b)
print(c)

7

매개변수와 인수

매개변수(parameter)와 인수(arguments)는 혼용해서 사용하는 용어이므로 잘 기억해 두자. 매개변수는 함수에 입력으로 전달된 값을 받는 변수, 인수는 함수를 호출할 때 전달하는 입력값을 의미한다.

함수는 리턴값이 있을 수도 있고 없을수도 있다.

In [70]:
# 입력값도 없고 리턴값도 없는 함수 예시
def say_hello():
    print("좋은 하루입니다.")
    
say_hello()

좋은 하루입니다.

In [71]:
# 입력값이 있는데 리턴값이 없는 함수 예시
def add3(a, b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [72]:
add3(100, 300)

100, 300의 합은 400입니다.

리턴값 유무에 따른 함수의 특징이 있을까요?

In [73]:
print(add3(100, 300))
# 지금 예시에서 나온 None은 리턴값이 없다는 의미입니다.
# 예시 함수안의 print문은 함수의 구성요소 중 하나인 "수행할 문장"
# 여기에 해당할 뿐이지 뭔가 결과 자체를 반환한 것이 없다.
# None 은 '거짓을 나타내는 자료형' 입니다.

100, 300의 합은 400입니다.
None

In [77]:
# 함수를 만드셔서 greet("발렌타인", 30)
# 이렇게 입력하면
# 안녕, 발렌타인! 너는 30 년 산이구나 ^^. 이렇게 출력되도록 해주세요.

def greet(name, age):
    print("안녕, %s! 너는 %d 년 산이구나^^." % (name, age))

In [78]:
greet("발렌타인", 30)

안녕, 발렌타인! 너는 30 년 산이구나^^.

In [1]:
# 입력값 3개를 받아서 더해주는 식을 함수로 쓴다면

In [2]:
def sum_many(a, b, c):
    z = a + b + c
    return z

In [3]:
sum_many(1,2,3)

6